.container-fluid {
    background-color: black;
}

html {
    font-family: "Open Sans", sans-serif !important;
}



.sticky-header {
    position: fixed;
    width: 100%;
    z-index: 1000; /* Ensure the header stays above other content */
    background-color: transparent; /* Set a background color to avoid transparency issues */
    /* height: 10px; */
}

.header-scrolled {
    background-color: #111111;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

@media (width <= 1030px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.nav-link {
    color: white;
    transition: color 0.3s ease;
  }
  
.nav-link:hover {
    color: #00fffb;
  }
  

.title {
    display: flex;
    flex-direction:column;
    justify-content:center;
}

.segment {
    height: 40px;

}


.projectCard {
    background-color: #000000;
    border: 3px solid #ffffff21;
    width: 100%;
    height: 50%;
    margin-bottom: 25px;
    transition: all 0.3s ease;
    transition: color 0.3s ease;
}

  
.projectCard:hover {
    background-color: #ffffff21;
  }

.custom-card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.picBox {
    height: 70%;
    width: 100%;
    padding: 15px;
    object-fit: cover;
}

.projectPic {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    /* border: 3px solid red; */
}

.picBox > img {
    object-fit: cover;
}

@media (width <= 1030px) {
    .proSec {
        margin-bottom: 50px;
    }
}

.techStack {
    display: flex;
    justify-content:start;
    gap: 10px;
    margin-top: auto;
}

.tech {
    background-color: #ffffff21;
    color: #e0e0e0;
    font-size: 12px;
    padding: 5px;
    margin-top: auto;
}


.area {
    padding-left: 60px;
    padding-right: 60px;
}

.edu {
    color: white;
    display: flex;
    justify-content: space-between;
}

.line {
    width: 100%;
    height: 1px;
    background-color: white; /* Set the color of the line */
    margin-bottom: 30px;
    margin-top: -10px;
}

.bookList, .unread {
    display: flex;
    justify-content: start;
}

.bookList > span {
    color: #00fffb;
}

.green {
    color: #00fffb;
}


p {
    color: #999999;
    font-size: large;
}

span {
    color: #999999;
}

h1{
    color: white;
    font-size: 4rem;
    font-weight: 700;
}

h2{
    color: white;
    font-size: 3rem;
    font-weight: 700;
}
h3 {
    color: white;
    font-size: 1.5rem;
}

h4 {
    color: #999999;
    font-size: 1.3rem;
}

h5 {
    color: #ffffff;
    font-size: 1rem;
}

.image-container {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #111111;
}

